test/fixtures/project/plugins/*
test/fixtures/project/cache/*
test/fixtures/project/data/*
test/fixtures/project/log/*
!test/fixtures/project/data/fixtures
!test/fixtures/project/data/fresh_test_db.sqlite
