[submodule "lib/vendor/service_container"]
	path = lib/vendor/service_container
	url = git://github.com/fabpot/dependency-injection.git
[submodule "test/fixtures/project/plugins/sfSympalBlogPlugin"]
	path = test/fixtures/project/plugins/sfSympalBlogPlugin
	url = git://github.com/weaverryan/sfSympalBlogPlugin.git
[submodule "test/fixtures/project/plugins/sfSympalCommentsPlugin"]
	path = test/fixtures/project/plugins/sfSympalCommentsPlugin
	url = git://github.com/weaverryan/sfSympalCommentsPlugin.git
