body {
	margin:                       0;
	padding:                      0;
	background:                   url(../images/backplate.jpg) no-repeat top center;
	background-color:             #000000;
}

/*
 * Two Outer Columns
 */

#column_left {
  position:                       relative;
  float:                          left;
  margin:                         0;
  padding:                        0px 5px 0 10px;
  left:                           0px;
  width:                          700px;
}

#column_right {
  position:                       relative;
  width:                          244px;
  float:                          right;
  margin:                         0;
  padding:                        0 20px 0 0;
}

#column_right ul {
  padding: 0;
  margin: 0;
  margin-left: 15px;
  margin-top: 5px;
}

#column_right ul li {
  list-style-type: square;
  margin-bottom: 2px;
}

/*
* Generic Rules
*/

p {
 padding-bottom:               8px;
 margin-bottom:                0;
}

h1 {
 color:                        #11A8FF;
 font-size:                    22px;
 padding:                      0;
 margin:                       0;
 margin-bottom: 10px;
}

h2 {
 color:                        #DA8915;
 font-size:                    18px;
}

h3 {
 color:                        #3278B6;
 font-size:                    14px;
}


/*
* Container Holds All Content
*/

#container {
 z-index:						           0;
 margin:                       0 auto;
 padding:                      0;
 width:                        1000px;
}


/*
* Header
*/

#header {
 position:                     relative;
 width:                        100%;
 height:                       65px;
 margin:                       0;
 background:                   url(../images/header_background.gif) repeat-x;
	-khtml-border-radius:10px;
	-moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 border-radius: 10px;
}

#header #logo {
 position:                     relative;
 background-image:             url(../images/header_logo.gif);
 background-position:          left center;
 background-repeat:            no-repeat;
 width:                        200px;
 height:                       33px;
 top:                          25px;
 left:                         36px;
}

#header #logo #logo_spacer {
  width:                        200px;
  height:                       33px;
 border:                       none;
 display: block;
}


/*
* Top Navigation Bar
*/
#top_navigation,
.top_navigation_head,
.top_navigation_head div {
 background:                   url(../images/top_navigation_plate.gif) no-repeat top right;
 white-space: nowrap;
}

#top_navigation {
 position:                     absolute;
 right:                        45px;
 top:                          15px;
 padding-right:                22px;

}

.top_navigation_head {
 background-position:          top left;
 float:                        left;
 display:                      block;
 margin:                       0;
 height:                       39px;
 width:                        18px;
 padding:                      0;
}

#top_navigation ul {
 position:                     relative;
 padding-top:                  9px;
 text-align:                   center;
 padding:                      10px 0 0 0;
 margin:                       0;
 height:                       39px;
 min-width:                    300px;
 line-height:                  14px;
 display:                      block;
}

#top_navigation ul li {
 font-family:                  "Lucida Grande", Helvetica, Arial, Helv, Sans, sans-serif;
 font-size:                    12px;
 display:                      inline;
 padding:                      0;
 margin:                       0;
}

#top_navigation ul li a {
 padding:                      10px 15px 4px 15px;
 margin:                       0;
 color:                        #EEEEEE;
 text-decoration:              none;
}

#top_navigation ul li a:hover {
 background:                   url(../images/top_navigation_arrow.gif) no-repeat top center;
 cursor:                       pointer;
 color:                        #11A8FF;
}

#top_navigation .current a {
  background:                   url(../images/top_navigation_arrow.gif) no-repeat top center;
  color:                        #11A8FF;
}

/*
* Content - This Is Where the Action Is
*/

#content {
  width:                        100%;
  margin:                       0;
  padding:                      30px 0 0 0;
  background:                   url(../images/content_header.gif) no-repeat top center;  
  background-color: #fff;
 	-khtml-border-radius:10px;
	-moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  min-height: 400px;
  position: relative;
  margin-top: 10px;
}

#content a, #content a:link, #content a:visited
{
 color:                        #3278B6;
}

#content a:hover, #content a:focus, #content a:active
{
 color:                        #ED1141;
}

/*
* Right Column Rounded Box
*/

.roundedbox, .roundedbox_body, .roundedbox_head, .roundedbox_head div {
 background:                   #FFFFFF url(../images/column_box_ie.gif) no-repeat bottom right;
}

.roundedbox {
 width:                        230px !important;
 width:                        220px;
 padding-right:                15px;
 margin:                       0 auto;
}

.roundedbox_head {
 background-position:          top right;
 margin-right:                 -15px;
 padding-right:                40px;
}

.roundedbox_head div {
 background-position:          top left;
 margin:                       0;
 border:                       0;
 padding:                      30px 0 0 0;
 height:                       auto !important;
 height:                       1%;
}

.roundedbox_body {
 background-position:          bottom left;
 margin-right:                 15px;
 padding:                      1px 0 25px 30px;
}

.roundedbox_body h1 {
 font-size:                    18px;
 margin-top:                   0;
}

.roundedbox_body h2 {
 font-size:                    12px;
 margin-bottom:                0;
}

.roundedbox_body h3 {
 font-variant:                 italic;
 font-weight:                  normal;
 font-size:                    10px;
 margin-top:                   0;
 margin-bottom:                0;
}

.roundedbox_body p {
 color:                        #555555;
}

.roundedbox_body hr {
 width:                        100%;
 text-align:                   center;
 border:                       none;
 border-bottom:                1px dotted #999999;
 height:                       1px;
 margin:                       14px auto;
}


/*
* Footer
*/

div#footer {
  margin:                       0 auto;
  height:                       35px;
  width:                        980px;
 	padding:                      0;
 	margin-top:                   10px;
 	margin-bottom:                10px;
 	padding:                      10px;
 	background:                   #231f20;
 	color:                        #fff;
 	font-size:                    11px;
 	font-weight:                  bold;
 	-khtml-border-radius:10px;
	-moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

div#footer a {
  color: white;
}

div#footer p {
  float: left;
}

div#footer p img {
  display: inline;
  vertical-align: middle;
}

div#footer ul {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  float: right;
}

div#footer ul li {
  float: left;
  list-style-type: none;
  color: white;
  margin-right: 10px;
  font-size: 13px;
}

table {
  -khtml-border-radius:10px;
	-moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

table thead tr th {
  border: none;
}

table tbody tr td {
  border: none;
}

table tbody tr th {
  color: #183359;
  border: none;
  white-space: nowrap;
}

table tfoot tr td {
  border: none;
}

#sympal_breadcrumbs ul
{
  font: 11px Arial, Helvetica, sans-serif;
  background-image: url('../images/bc_bg.png');
  background-repeat: repeat-x;
  height: 30px;
  line-height: 30px;
  color: #9b9b9b;
  border: solid 1px #cacaca;
  width: 100%;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

#sympal_breadcrumbs li
{
  list-style-type: none;
  float: left;
  padding-left: 10px;
}

#sympal_breadcrumbs li a:hover
{
  color: #35acc5;
}

#sympal_breadcrumbs li.first
{
  background: url('../images/home.png') no-repeat;
  background-position: center;
  text-indent: -9999;
  font-size: 0;
  width: 30px;
}

#sympal_breadcrumbs li.first a
{
  text-indent: -9999;
  font-size: 0;
  width: 20px;
}

#sympal_breadcrumbs li a
{
  height: 30px;
  display: block;
  background-image: url('../images/bc_separator.png');
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 15px;
  text-decoration: none;
  color: #454545;
}

ul.error_list
{
  margin: 0;
  margin-bottom: 7px;
  color: #d33;
  border: none;
  background-color: #f33;
}

ul.error_list li
{
  padding: 4px;
  padding-left: 25px;
  list-style: none;
  color: #fff;
  background: url(../images/error.png) no-repeat 4px 4px;
}

#sympal_ask_confirmation {
  padding: 12px;
  background: #ffc;
  border: 1px solid #ddd;
}

#sympal_ask_confirmation h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

#sympal_ask_confirmation p {
  margin-bottom: 10px;
}

#sympal_signin_form {
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
  background: #ffc;
  border: 1px solid #ddd;
  margin: 0 auto;
  width: 250px;
}

.sympal_data_grid {
  -khtml-border-radius:10px;
	-moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #c1dbff;
}

.sympal_data_grid thead tr th {
  background: none;
}

.sympal_data_grid tbody tr td {
  border-bottom: 1px solid #eee;
}

.sympal_form input, .sympal_form select, .sympal_form textarea {
	padding: 0.40em;
	border:1px solid #ddd;
	background: #fafafa;
	font:bold 0.95em arial, sans-serif;
	-khtml-border-radius:0.4em;
	-moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
}

.sympal_form input:hover, .sympal_form input:focus, .sympal_form select:hover, .sympal_form select:focus, .sympal_form textarea:hover, .sympal_form textarea:focus {
	border-color:#c5c5c5;
	background:#ffffcc;
}

.sympal_notice {
  margin: 4px 0;
  padding: 4px 4px 4px 30px;
  background: url(../images/tick.png) no-repeat 10px 4px;
}

.sympal_error {
  margin: 4px 0;
  padding: 4px 4px 4px 30px;
  background: url(../images/error.png) no-repeat 10px 4px;
  background-color: #f33;
  color: red;
}

.sympal_notice, .sympal_error {
  background-color: #ffc;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  font-weight: bold;
}

label.required:after
{
  content:'*';
  color: red;
  float: right;
  margin-left: 20px;
  font-weight: bold;
}