html {
  margin-top: 25px;
  margin-bottom: 25px;
}

#container {
  margin-top: 10px;
  -khtml-border-radius:0.4em;
	-moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#content {
  background: none;
}

#sf_admin_container h2 {
  color: #11A8FF;
  margin: 0;
  padding: 0;
  margin-top: -15px;
  margin-bottom: 10px;
}

#content #top_menu {
  height: 20px;
  background-color: #333333;
  padding: 0.6em;
}

#content #top_menu img {
  vertical-align: middle;
}

#content #top_menu ul {
  margin: 0;
  padding: 0;
}

#content #top_menu ul li {
  list-style-type: none;
  float: left;
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
  color: #ffffff;
}

#content #top_menu ul li a {
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
}

#content #top_menu ul li a:hover {
  border-top: 3px solid #fff;
  background: #f5f5f5;
  color: #000;
}

input, select, textarea {
	padding:0.40em;
	width:10em;
	border:1px solid #ddd;
	background:#fafafa;
	font:bold 0.95em arial, sans-serif;
	-khtml-border-radius:0.4em;
	-moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
}
input:hover, input:focus {
	border-color:#c5c5c5;
	background:#f6f6f6;
} 

.notice, .error {
  position: absolute;
  top: 5px;
  right: 30px;
  margin-left: 10px;
  margin-right: 10px;
}