/* Styling for the ask_confirmation action */
#sympal_ask_confirmation {
  padding: 12px;
  background: #ffc;
  border: 1px solid #ddd;
  color: #000;
}

#sympal_ask_confirmation h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

#sympal_ask_confirmation p {
  margin-bottom: 10px;
}