#sympal-dashboard {
  
}

#sympal-dashboard #boxes {
  width: 80%;
  margin-right: 200px;
}

#sympal-dashboard #boxes ul {
  margin: 0;
  padding: 0;
}

#sympal-dashboard #boxes ul li {
  float: left;
  list-style-type: none;
  height: 85px;
  width: 140px;
  margin-right: 5px;
  border: #f5f5f5;
  text-align: center;
  margin: 5px;
  padding: 0;
  padding-top: 10px;
  border: 1px solid #ccc;
  filter: alpha(opacity=50);
  -moz-opacity: .50;
}

#sympal-dashboard #boxes ul li a {
  width: 100%;
  height: 85px;
  display: block;
  font-weight: bold;
  text-decoration: none;
  background: #fff url(../images/default.gif) no-repeat;
  background-position: center;
}

#sympal-dashboard #boxes ul li:hover {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
}

#sympal-dashboard #right {
  float: right;
  padding-left: 15px;
  margin-right: 30px;
  border-left: 1px solid #ccc;
  height: 400px;
  width: 175px;
}

#sympal-dashboard #right ul {
  margin-left: 20px;
}

#sympal-dashboard #right ul li {
  list-style-type: square;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

#sympal-dashboard #right ul li ul li {
  font-size: 12px;
  font-weight: normal;
}

#sympal-dashboard #boxes ul li#dashboard-boxes-create-content a {
  background: url(../images/content.gif) no-repeat;
  background-position: center;
}

#sympal-dashboard #boxes ul li#dashboard-boxes-sitemap a {
  background: url(../images/sitemap.png) no-repeat;
  background-position: center;
}

#sympal-dashboard #boxes ul li#dashboard-boxes-sites a {
  background: url(../images/sites.png) no-repeat;
  background-position: center;
}

#sympal-dashboard #boxes ul li#dashboard-boxes-menu-manager a {
  background: url(../images/menu_manager.png) no-repeat;
  background-position: center;
}

#sympal-dashboard #boxes ul li#dashboard-boxes-plugin-manager a {
  background: url(../images/plugins.png) no-repeat;
  background-position: center;
}

#sympal-dashboard #boxes ul li#dashboard-boxes-content-types a {
  background: url(../images/content_types.gif) no-repeat;
  background-position: center;
}

#sympal-dashboard #boxes ul li#dashboard-boxes-content-templates a {
  background: url(../images/templates.png) no-repeat;
  background-position: center;
}

#sympal-dashboard #boxes ul li#dashboard-boxes-users a {
  background: url(../images/users.png) no-repeat;
  background-position: center;
}

#sympal-dashboard #boxes ul li#dashboard-boxes-groups a {
  background: url(../images/groups.png) no-repeat;
  background-position: center;
}

#sympal-dashboard #boxes ul li#dashboard-boxes-permissions a {
  background: url(../images/permissions.gif) no-repeat;
  background-position: center;
}

#sympal-dashboard #boxes ul li#dashboard-boxes-configuration a {
  background: url(../images/configuration.png) no-repeat;
  background-position: center;
}

#sympal-dashboard #boxes ul li#dashboard-boxes-slot-types a {
  background: url(../images/slot_types.png) no-repeat;
  background-position: center;
}