.sympal_edit_slot_box table {
  background: white;
  padding: 200px;
  border-collapse: collapse;
}

.sympal_edit_slot_box table tbody tr th {
  background: #e7eef6 !important;
}

.sympal_edit_slot_box table tbody tr td {
  border: 1px solid #ccc;
}

.sympal_edit_slot_box table tfoot tr td {
  border: none;
  background: #e7eef6;
}

.black_bar {
  color: white;
  margin-bottom: 15px;
  background-color: #333333;
  padding: 0.6em;
  -khtml-border-radius:0.4em;
	-moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.black_bar ul {
  margin: 0;
  padding: 0;
}

.black_bar ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.black_bar ul li a {
  color: white !important;
  font-weight: bold;
}

#toggle_menu_tab {
  z-index: 10000;
  position: absolute;
  right: 10px;
  float: right;
  color: white;
  margin-bottom: 20px;
  background-color: #333333;
  padding: 5px;
}

#toggle_menu_tab a {
  color: white !important;
  font-weight: bold;
}

#sympal_edit_panel, #sympal_edit_panel_container {
  width: 350px;
}

#sympal_edit_panel ul {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

#sympal_edit_panel ul li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-weight: bold;
  color: #3278B6;
  font-size: 13px;
}

#sympal_edit_panel ul li img {
  border: none;
}

#sympal_edit_panel ul li ul li {
  font-weight: normal;
  color: #000;
  line-height: 25px;
  margin-left: 20px;
}

#sympal_edit_panel ul li ul li a {
  text-decoration: none;
}

#sympal_admin_bar {
  width: 100%;
  position: relative;
}

#sympal_admin_bar_container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

#sympal_edit_panel_contents input.editor_button {
  color: #ffffff;
  font-weight: bold;
  background: #375fc2;
  border: none;
  padding: 4px;
}

div#sympal-icon {
  width: 60px;
  background: url(../../sf/sf_admin/images/help.png) right no-repeat;
}

.sympal_editable_content_slot {
  border: 1px solid transparent;
  display: block;
}

.sympal_unsaved_content_slot_value {
  border: 1px solid red;
  display: block;
}

li a.off, li a.on {
  font-weight: bold;
  color: white !important;
}

li a.off {
  background-color: green;
}

li a.on {
  background-color: red;
}

.sympal_form ul li {
  background: transparent;
}

.hd #toggle {
  color: #fff;
  background: #375fc2;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  text-align: center;
  cursor: pointer;
}

#create_new_content ul li {
  list-style-type: none;
  border-bottom: 1px solid #ccc;
}

#create_new_content ul li a {
  color: none;
}

#create_new_content ul li h2 a {
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  background: #ffc;
  border: 1px solid #ccc;
  padding: 4px;
}

#create_new_content ul li h2 a img {
  vertical-align: middle;
}

.sympal_diff {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.sympal_diff h3 {
  padding: 6px;
  margin: 0;
}

.sympal_diff table {
  width: 100%;
  border: 1px solid #ccc;
}

.sympal_diff table tr th {
  margin: 0;
  padding: 0;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #eeeedd;
  border-right: 1px solid #ccc;
}

.sympal_diff table tr td {
  background: #fff;
  margin: 0;
  padding: 0;
  padding-left: 4px;
}

.sympal_diff pre {
  
}

#save {
  float: left;
  padding: 8px;
}

#loading {
  float: right;
  background-color: red;
  color: white;
  font-weight: bold;
}

#edit_slot .notice, #edit_slot .error {
  margin: 0;
  margin-bottom: 15px;
}

#edit_slot table tr td {
  border: none;
  padding: 5px;
}

#edit_slot table tr td img {
  border: none;
}

#edit_slot table tr th {
  background: #c1dbff;
  color: #183359;
  border: none;
  white-space: nowrap;
  padding: 5px;
}

ins {
  background-color: #ddffdd;
}

del {
  background-color: #ffdddd;
}

body input, body select, body textarea {
	padding: 0.40em;
	border:1px solid #ddd;
	background:#fafafa;
	font:bold 0.95em arial, sans-serif;
	-khtml-border-radius:0.4em;
	-moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
}

body input:hover, body input:focus, body select:hover, body select:focus, body textarea:hover, body textarea:focus {
	border-color:#c5c5c5;
	background:#ffffcc;
}