.sympal_edit_slot_box table {
  background: white;
  padding: 200px;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.sympal_edit_slot_box table tr th {
  background: #e7eef6;
}

.sympal_edit_slot_box table tr td {
  border: 1px solid #ccc;
}

.sympal_edit_slot_box table tfoot tr td {
  border: none;
  background: #e7eef6;
}

#sympal_edit_panel, #sympal_edit_panel_container {
  width: 350px;
}

#sympal_edit_panel ul {
  margin-left: 5px;
}

#sympal_edit_panel ul li {
  list-style-type: none;
  font-weight: bold;
  color: #3278B6;
  font-size: 13px;
}

#sympal_edit_panel ul li ul li {
  font-weight: normal;
  color: #000;
  line-height: 25px;
}

#sympal_edit_panel ul li ul li a {
  text-decoration: none;
}

#sympal_admin_bar {
  width: 100%;
  position: relative;
}

#sympal_admin_bar_container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

body {
  margin-top: 25px;
  margin-bottom: 25px;
}

div#sympal-icon {
  width: 60px;
  background: url(../../sf/sf_admin/images/help.png) right no-repeat;
}

.sympal_editable_content_slot {
  border: 1px solid transparent;
}

li a.off, li a.on {
  font-weight: bold;
  color: white !important;
}

li a.off {
  background-color: green;
}

li a.on {
  background-color: red;
}

#sympal_side_bar {
  position: relative;
}

#sympal_side_bar_container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.sympal_form ul li {
  background: transparent;
}

.hd #toggle {
  color: #fff;
  background: #375fc2;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  text-align: center;
  cursor: pointer;
}

#create_new_content ul li {
  list-style-type: none;
  border-bottom: 1px solid #ccc;
}

#create_new_content ul li a {
  color: none;
}

#create_new_content ul li h2 a {
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  background: #ffc;
  border: 1px solid #ccc;
  padding: 4px;
}

#create_new_content ul li h2 a img {
  vertical-align: middle;
}

.sympal_diff {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.sympal_diff h3 {
  padding: 6px;
  margin: 0;
}

.sympal_diff table {
  width: 100%;
  border: 1px solid #ccc;
}

.sympal_diff table tr th {
  margin: 0;
  padding: 0;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #eeeedd;
  border-right: 1px solid #ccc;
}

.sympal_diff table tr td {
  background: #fff;
  margin: 0;
  padding: 0;
  padding-left: 4px;
}

#save {
  float: left;
}

#loading {
  float: right;
  background-color: red;
  color: white;
  font-weight: bold;
}

#edit_slot .notice, #edit_slot .error {
  margin: 0;
  margin-bottom: 15px;
}

ins {
  background-color: #ddffdd;
}

del {
  background-color: #ffdddd;
}