#sympal_menu_manager {
  
}

#sympal_menu_manager h1 {
  margin-bottom: 10px;
}

#sympal_menu_manager #controls {
  background: #ffc;
  margin: 0 0 .5em 0;
  padding: 0.4em;
  font-weight: bold;
}

.drag_item {
  display: block !important;
  background: red !important;
  border: 1px solid #ccc !important;
  font-weight: bold;
  color: white;
  height: 15px !important;
  padding-right: 10px !important;
  padding-left: 4px !important;
  white-space: nowrap !important;
}

.drag_on_item {
  background: green !important;
  color: white !important;
}

#sympal_menu_manager #loading {
  float: right;
  background-color: red;
  color: white;
  font-weight: bold;
}