body a {
  color: #333;
}

#doc3 {
  background: #fff;
}

#doc3 #hd {
  height: 60px;
  background: #2e61a6 url(../images/topbg.gif)
}

#doc3 #hd div {
  padding: 10px;
  background: url(../images/snap.gif) no-repeat;
}

#doc3 #hd h1 {

}

#doc3 #hd h1, #doc3 #hd h2 {
  margin: 0;
  padding: 0;
  text-indent: 30px;
}

#doc3 #hd h1, #doc3 #hd h1 a {
  color: #d3e5ff;
  text-decoration: none;
}

#doc3 #hd h2 {
  font-size: 13px;
  margin-top: 5px;
  color: #fff;
}

#doc3 #ft {
  background: #c1dbff;
  padding: 6px;
  margin-top: 20px;
  color: #183359;
  font-weight: bold;
  height: 20px;
}

#doc3 #ft a {
  color: #183359;
  font-weight: bold;
}

#doc3 #ft #copyright {
  float: left;
}

#doc3 #ft #sympal_footer_menu {
  float: right;
}

#doc3 #ft #sympal_footer_menu ul {
  margin: 0;
  padding: 0;
}

#doc3 #ft #sympal_footer_menu ul li {
  list-style-type: none;
  float: left;
  margin-left: 20px;
}

#doc3 #sympal_content {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

#sympal_primary_menu {
  width: 173px;
  background: #c1dbff url(../images/leftbg.gif);
}

#sympal_primary_menu a {
  color: #183359;
}

/* Reset menu */
#sympal_primary_menu ul, #sympal_primary_menu li {
  margin:0;
  padding: 0;
  list-style-type: none;
}

/* Style menu */
#sympal_primary_menu ul li {
  margin-top: 5px;
  margin-bottom: 5px;
}

#sympal_primary_menu ul {
  margin-left: 10px;
}

#sympal_primary_menu ul li {
  font-weight: bold;
}

#sympal_primary_menu ul li ul li {
  font-weight: normal;
}

/* Style forms */

#doc3 #sympal_content table tr td {
  border: none;
}

#doc3 #sympal_content table tr th {
  background: #c1dbff;
  color: #183359;
  border: none;
  white-space: nowrap;
}

#doc3 #sympal_content #sympal_breadcrumbs {
  margin-top: 20px;
  height: 30px;
}

#doc3 #sympal_content #sympal_breadcrumbs ul {
  margin: 0;
  padding: 0;
}

#doc3 #sympal_content #sympal_breadcrumbs ul li {
  margin: 0;
  padding: 0;
  float: left;
  list-style-type: none;
  margin-right: 10px;
  background: url('../../sf/sf_admin/images/next.png') no-repeat;
  text-indent: 20px;
}

#doc3 #sympal_content #sympal_breadcrumbs ul li a {
  font-weight: bold;
}

.notice {
  margin: 4px 0;
  padding: 4px 4px 4px 30px;
  background: url(../images/tick.png) no-repeat 10px 4px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #ffc;
}

.error {
  margin: 4px 0;
  padding: 4px 4px 4px 30px;
  background: url(../images/error.png) no-repeat 10px 4px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f33;
  color: #fff;
}

#doc3 #sympal_content ul.error_list
{
  margin: 0;
  margin-bottom: 7px;
  color: #d33;
  border: none;
  background-color: #f33;
}

#doc3 #sympal_content ul.error_list li
{
  padding: 4px;
  padding-left: 25px;
  list-style: none;
  color: #fff;
  background: url(../images/error.png) no-repeat 4px 4px;
}