#container {
  background: #375fc2;
  padding-top: 20px;
	width: 900px;
	margin: 0 auto;
	margin-top: 30px;
	-khtml-border-radius:10px;
	-moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#container #header {
  padding: 5px 10px;
}

#container #header h1 {
  font-size: 30px;
  margin: 0;
  padding: 0;
  color: #fff;
}

#container #header h1 a {
  color: #fff;
  text-decoration: none;
  text-shadow: #000 1px 1px 1px;
}

#container #header h2 {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: normal;
}

#container #content {
	float: left;
	width: 610px;
	padding: 10px;
	background: #fff;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	-khtml-border-radius:10px;
	-moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#container #sidebar {
	float: right;
	width: 230px;
	padding: 10px;
	color: #fff;
}
#container #sidebar ul {
  margin-left: 20px;
  margin-top: 10px;
}
#container #sidebar ul li {
  margin-bottom: 5px;
}
#container #sidebar a {
  color: #fff;
  text-shadow: #000 1px 1px 1px;
}
#container #footer {
	clear: both;
	height: 10px;
}
* html #container #footer {
	height: 1px;
}

#sympal_breadcrumbs ul
{
  font: 11px Arial, Helvetica, sans-serif;
  background-image: url('../images/bc_bg.png');
  background-repeat: repeat-x;
  height: 30px;
  line-height: 30px;
  color: #9b9b9b;
  border: solid 1px #cacaca;
  width: 100%;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

#sympal_breadcrumbs li
{
  list-style-type: none;
  float: left;
  padding-left: 10px;
}

#sympal_breadcrumbs li a:hover
{
  color: #35acc5;
}

#sympal_breadcrumbs li.first
{
  background: url('../images/home.png') no-repeat;
  background-position: center;
  text-indent: -9999;
  font-size: 0;
  width: 30px;
}

#sympal_breadcrumbs li.first a
{
  text-indent: -9999;
  font-size: 0;
  width: 20px;
}

#sympal_breadcrumbs li a
{
  height: 30px;
  display: block;
  background-image: url('../images/bc_separator.png');
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 15px;
  text-decoration: none;
  color: #454545;
}

label.required:after
{
  content:'*';
  color: red;
  float: right;
  margin-left: 20px;
  font-weight: bold;
}