<?xml version="1.0" encoding="##ENCODING##"?>
<package xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" packagerversion="1.4.1" version="2.0" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
  <name>sfTaskExtraPlugin</name>
  <channel>plugins.symfony-project.org</channel>
  <summary>Adds tasks to your symfony command line to help streamline your workflow.</summary>
  <description>Adds tasks to your symfony command line to help streamline your workflow.</description>
  <lead>
    <name>Kris Wallsmith</name>
    <user>Kris.Wallsmith</user>
    <email>kris.wallsmith@symfony-project.com</email>
    <active>yes</active>
  </lead>
  <date>##CURRENT_DATE##</date>
  <version>
    <release>##PLUGIN_VERSION##</release>
    <api>##API_VERSION##</api>
  </version>
  <stability>
    <release>##STABILITY##</release>
    <api>##STABILITY##</api>
  </stability>
  <license uri="http://www.symfony-project.org/license">MIT license</license>
  <notes>-</notes>
  <contents>
    ##CONTENTS##
  </contents>
  <dependencies>
    <required>
      <php>
        <min>5.2.4</min>
      </php>
      <pearinstaller>
        <min>1.4.1</min>
      </pearinstaller>
      <package>
        <name>symfony</name>
        <channel>pear.symfony-project.com</channel>
        <min>1.3.0</min>
        <max>2.0.0</max>
        <exclude>2.0.0</exclude>
      </package>
    </required>
  </dependencies>
  <phprelease/>
  <changelog>
    <release>
      <version>
        <release>0.0.1</release>
        <api>0.0.1</api>
      </version>
      <stability>
        <release>alpha</release>
        <api>alpha</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">MIT license</license>
      <license>MIT</license>
      <date>2008-11-08</date>
      <notes>
        * Initial release of `generate:plugin`
        * Initial release of `generate:plugin-module`
        * Initial release of `plugin:package`
      </notes>
    </release>
    <release>
      <version>
        <release>0.0.2</release>
        <api>0.0.2</api>
      </version>
      <stability>
        <release>alpha</release>
        <api>alpha</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">MIT license</license>
      <license>MIT</license>
      <date>2008-11-13</date>
      <notes>
        * Fixed packaging of empty directories in `plugin:package`
        * Added `post_command` hook to `propel:build-model` to insert model class for plugin logic
        * Initial release of `test:plugin`
      </notes>
    </release>
    <release>
      <version>
        <release>1.3.0</release>
        <api>1.3.0</api>
      </version>
      <stability>
        <release>stable</release>
        <api>stable</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">MIT license</license>
      <license>MIT</license>
      <date>2009-12-06</date>
      <notes>
        * Compatible with symfony 1.3 and 1.4
        * Removed `generate:tests` task
        * Simplified `generate:test` task
        * Simplified `subversion:set-props` task
      </notes>
    </release>
    <release>
      <version>
        <release>1.3.1</release>
        <api>1.3.0</api>
      </version>
      <stability>
        <release>stable</release>
        <api>stable</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">MIT license</license>
      <license>MIT</license>
      <date>2010-01-04</date>
      <notes>
        * Updated skeleton `package.xml` template to use `plugins.symfony-project.org` channel
        * Updated `plugin:package` task to use charset from `settings.yml` when creating `package.xml`
      </notes>
    </release>
    <release>
      <version>
        <release>1.3.2</release>
        <api>1.3.0</api>
      </version>
      <stability>
        <release>stable</release>
        <api>stable</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">MIT license</license>
      <license>MIT</license>
      <date>soon</date>
      <notes>
        * Fixed bug when generating a test stub for a class in a plugin with no test directory
      </notes>
    </release>
  </changelog>
</package>
