<?xml version="1.0" encoding="UTF-8"?>
<package packagerversion="1.4.1" version="2.0" xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
  <name>sfDoctrineGuardPlugin</name>
  <channel>plugins.symfony-project.org</channel>
  <summary>Identity management plugin.</summary>
  <description>Identity management plugin.</description>
  <lead>
    <name>Jonathan H. Wage</name>
    <user>jwage</user>
    <email>jonwage@gmail.com</email>
    <active>yes</active>
  </lead>
  <date>##CURRENT_DATE##</date>
  <version>
    <release>##PLUGIN_VERSION##</release>
    <api>##API_VERSION##</api>
  </version>
  <stability>
    <release>##STABILITY##</release>
    <api>##STABILITY##</api>
  </stability>
  <license uri="http://www.symfony-project.org/license">MIT license</license>
  <notes>-</notes>
  <contents>
    ##CONTENTS##
  </contents>
  <dependencies>
   <required>
    <php>
     <min>5.0.0</min>
    </php>
    <pearinstaller>
     <min>1.4.1</min>
    </pearinstaller>
    <package>
     <name>symfony</name>
     <channel>pear.symfony-project.com</channel>
     <min>1.3.0</min>
     <max>1.5.0</max>
     <exclude>1.5.0</exclude>
    </package>
   </required>
  </dependencies>
  
  <phprelease>
  </phprelease>
  
  <changelog>
    <release>
     <version>
       <release>4.0.1</release>
       <api>4.0.0</api>
     </version>
     <stability>
      <release>stable</release>
      <api>stable</api>
     </stability>
     <license uri="http://www.symfony-project.com/license">MIT license</license>
     <date>2009-12-01</date>
     <license>MIT</license>
     <notes>
       Fixing issue with previous package
     </notes>
   </release>
 </changelog>
</package>


